/* Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/ */
*/ *,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* == Mines == */
button {
  cursor: pointer;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* layout css */
.flex {
  display: flex;
}

.menu-container {
  width: 30%;
  height: 100vh;
  outline: 1px solid blue;
  /* flex-basis: auto; */
  flex-shrink: 0;
  /* position: relative; */
}

.menu {
  position: fixed;
  width: 25%;
  padding: 2em;
  top: 0;
  left: 0;
}

.images {
  width: calc(100vw - 30%);
  /* flex-basis: auto; */
  flex-shrink: 0;
  margin-inline: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8px;
  outline: 1px solid green;
}

img {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
